<section class="section-signup bg-faded">
  <div class="container">
    {{ page.content|raw }}

    <div class="col-md-8 col-md-offset-2 col-xl-6 col-xl-offset-3">
    	<div class="row">
        	{% include "forms/form.html.twig" %}
        </div>
    </div>
  </div>
</section>
