<footer class="section-footer bg-inverse" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-5">
        <div class="media">
          <div class="media-left">
            <span class="media-object icon-logo display-1"></span>
          </div>
          <small class="media-body media-bottom">
            &copy; Land.io 2015. <br>
            Designed by Peter Finlan, developed by Taty Grassini, exclusively for Codrops.
            </small>
        </div>
      </div>
      <div class="col-md-6 col-lg-7">
        <ul class="list-inline m-b-0">
          <li class="active"><a href="http://tympanus.net/codrops/?p=25217">About Land.io</a></li>
          <li><a href="ui-elements.html">UI Kit</a></li>
          <li><a href="https://github.com/tatygrassini/landio-html" target="_blank">GitHub</a></li>
          <li><a class="scroll-top" href="#totop">Back to top <span class="icon-caret-up"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
