{% extends 'partials/base.html.twig' %}
{% block header %}{% endblock %}
{% block content %}
<section class="section-text">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-xl-4 col-xl-offset-4">
        <h1 class="arrow">Error {{ page.header.http_response_code }}</h1>
        {{ page.content|raw }}
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block footer %}{% endblock %}
